.content-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: var(--semi-light);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 50px 40% 40%;
}

.tabs-header {
    grid-column: 2/6;
}
.tabs-content {
    grid-column: 2/6;
}