.splash-container {
    background: transparent;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}
.splash-container.dark-splash {
    background: var(--dark);
}