.container-summary-box {
    height: 100%;
    display: grid;
    grid-auto-rows: auto;
    justify-content: center;
    padding: 0.5em;
    vertical-align: middle;
    font-weight: bold;
}
.container-summary-box > h1 {
    margin-bottom: 0 !important;
    font-weight: medium;
    font-size: 34pt;
    align-self: end;
}
.container-summary-box > small {
    align-self: start;
}