<div class="banner">

    <div class="banner-welcome">
        <app-avatar [size]="50"></app-avatar>
        <div>
            <h3 class="mb-0">
                Welcome back, Daniel!
            </h3>
            <small class="p-2 text-muted">
                <i class="bi bi-bell"></i>
                <span>
                    You have 2 new messages and 15 new tasks
                </span>
            </small>
        </div>
    </div>
    <div class="banner-buttons">
        <button class="btn btn-xs btn-secondary">
            <span>
                <i class="bi bi-envelope"></i>
            </span>
            <span class="ml-2">
                Messages
            </span>
        </button>
        <button class="btn btn-xs btn-primary">
            <span>
                <i class="bi bi-gear"></i>
            </span>
            <span class="ml-2">
                Settings
            </span>
        </button>
    </div>
</div>
