.dashboard-container {
    display: flex;
}

    .dashboard-container > .sidebar {
        left: -100%;
        position:relative;
        visibility: visible;
        transition: all 0.5s ease 0s;
    }
        .dashboard-container > .sidebar.active-sidebar {
            left: 0;
            visibility: visible;
        }
