.section {
    padding: 1em;
}
    .section > .section-title {
        text-transform: uppercase;
        font-size: small;
        font-weight: bold;
        color: var(--primary);
    }
    .section > .section-subtitle {
        font-weight: 300;
        color: var(--gray);
        font-size: smaller;
    }

    
        .section > .section-menu > .section-menu-item {
            border-radius: 4px;
            width: 100%;
            padding: 0.5em;
            display: flex;
            justify-content: space-around;
            color: var(--gray);
            cursor: pointer;
        }
        
        .section > .section-menu > .section-menu-item:hover {
            background-color: var(--deep-dark);
            color: var(--light);
        }

        .section > .section-menu > .section-menu-item > .section-menu-item-icon {
            margin-right: 2em;
        }