<div class="login-form-container">
    <app-logo-spinner [fontSizePt]="40"></app-logo-spinner>
    <h3 class="login-title">
        Sign in
    </h3>
    <h5 class="login-subtitle">
        Don't have an account? <a href="#">Sign Up</a>
    </h5>
    <div class="py-2">
        <form [formGroup]="form" (ngSubmit)="signIn()">
            <div class="form-group">
                <label for="jooycar_email">Email Address</label>
                <input id="jooycar_email" formControlName="email" type="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="jooycar_password">Password</label>
                <input id="jooycar_password" formControlName="password" type="password" class="form-control">
            </div>
            <div class="mt-5">
                <button class="btn btn-primary" type="submit">
                    Sign In
                </button>
            </div>
            <div class="sign-in-continue-with">
                Or continue with
            </div>

            <div class="social-networks">
                <div>
                    <i class="bi bi-facebook"></i>
                </div>
                <div>
                    <i class="bi bi-twitter"></i>
                </div>
                <div>
                    <i class="bi bi-github"></i>
                </div>
            </div>
        </form>
    </div>
</div>
